<div>
  <p>Year is <%= @currentTime.year%></p>
  <p>Month is <%= @currentTime.month%></p>
  <p>Day is <%= @currentTime.day%></p>
  <p>Week Day is <%= @currentTime.wday%></p>
  <p>Day in the Year is <%= @currentTime.yday%></p>
  <p>Hour is <%= @currentTime.hour%></p>
  <p>Minute is <%= @currentTime.min%></p>
  <p>Second is <%= @currentTime.sec%></p>
  <p>Zone is <%= @currentTime.zone%></p>
</div>